.sr_cont{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.sr_cont a{
    width:max-content;
    overflow:visible;
    padding: clamp(8px, 1em, 24px);
}
.sr_cont a.qu{
    min-height:42px;
    padding:0.4em 1.4em 0.4em calc(1em + 42px);
    margin:0 clamp(8px, 1em, 24px);
    transform:translateY(-4px);
}
.sr_list{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}
.card{
    font-size:0.9rem;
    margin:1em;
    padding:1em;
    width: clamp(250px, 98%, 320px);
    height: clamp(250px, 98%, 350px);
    position:relative;
    overflow:clip;
    border-radius:1em;
    box-shadow:0px 3px 8px var(--shadow-color);
    display:flex;
    flex-direction:column;
    font-family:var(--header-font);
    background-size: contain;
    background-repeat:no-repeat;
    color:var(--main-link-color);
    text-shadow:1px 1px 1px white;
    hyphens:none;
    line-height:1.2;
    min-width:320px;
    flex:1 0 45%;
    max-width:50%;
}

.committees .card{
    flex:1 0 30%;
    padding:0.6em;
    margin:0.4em;
    max-height:200px;
    font-size:0.8rem;
    min-width:220px;
}
.committees .card .sr_person_info .sr_position{
    font-size:1em;
}
.committees .card .img_left .sr_person_info{
    margin:0 0 0 auto;
    max-width:50%;
}
.committees .card .sr_person_info{
    min-height:180px;
}
.card .sr_person_info span{
    display:block;
    width:fit-content;
}
.card .sr_person_data span:nth-child(1){
    font-family:var(--main-font);
    text-transform:uppercase;
    font-weight:600;
    font-size:1.2em;
    color:black;
}
.card .sr_person_data span:last-child{
    margin-top:0.4em;
    text-transform:uppercase;
    font-weight:500;
    font-size:0.8em;
    padding:0.2em 0.6em;
    border-radius:0.8em;
    border:2px solid var(--border-color);
    
}
.img_right{
    background-position: right center;
}
.img_left{
    background-position: left center;
}
.sr_person_info{
    display:flex;
    flex-direction:column;
    max-width:60%;
    min-height:250px;
    justify-content:space-between;
}
.sr_person_info .sr_position{
    font-size:1.2rem;
}
.img_right .sr_person_info{
    margin:0 auto 0 0;
}
.img_left .sr_person_info{
    margin:0 0 0 auto;
    max-width:43%;
}
.sr_cont .qu_button{
    background:url(https://syprox.pp.ua/lfvkm-images/quast_poll_icon.svg) 1.2em center no-repeat, white !important;
}
@media only screen and (max-width:540px){
    .committees .card{
    flex:0 0 80%;
}
}